@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center
      h-12 w-12 mt-2 mb-2 mx-auto shadow-lg
      bg-yellow-500 text-red-900
      hover:bg-white hover:text-yellow-500
      rounded-3xl hover:rounded-xl
      transition-all duration-100 ease-linear;
  }
}

/* Color Theme Swatches in Hex */
.k00213229FruitBowl-1-hex { color: #D9B11B; }
.k00213229FruitBowl-2-hex { color: #A88B79; }
.k00213229FruitBowl-3-hex { color: #EFCCB6; }
.k00213229FruitBowl-4-hex { color: #8F0403; }
.k00213229FruitBowl-5-hex { color: #570C0D; }

/* Color Theme Swatches in RGBA */
.k00213229FruitBowl-1-rgba { color: rgba(216, 177, 26, 1); }
.k00213229FruitBowl-2-rgba { color: rgba(168, 138, 121, 1); }
.k00213229FruitBowl-3-rgba { color: rgba(239, 204, 182, 1); }
.k00213229FruitBowl-4-rgba { color: rgba(142, 4, 2, 1); }
.k00213229FruitBowl-5-rgba { color: rgba(86, 11, 13, 1); }

/* Color Theme Swatches in HSLA */
.k00213229FruitBowl-1-hsla { color: hsla(0, 77, 47, 1); }
.k00213229FruitBowl-2-hsla { color: hsla(0, 21, 56, 1); }
.k00213229FruitBowl-3-hsla { color: hsla(0, 64, 82, 1); }
.k00213229FruitBowl-4-hsla { color: hsla(0, 95, 28, 1); }
.k00213229FruitBowl-5-hsla { color: hsla(0, 75, 19, 1); }


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#root {
  text-align: left;
}

body {
  display: flex;
}